<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="/app.js" charset="utf-8"></script>
  </head>
  <body>
    <% for (i=0; i < 20; i++) { %>
      <div class="unfocused_block" id="<%= blockheight - i%>">
        <input type="button" name="<%= blockheight - i%>" value="Enter Block" class="expand_block <%= blockheight - i%>">
        <input type="button" value="Collapse Block" class="hide collapse_block">
      </div>
      <div class="line">
      </div>
  <%  } %>
  <hr>
  <div class="line">
  </div>
  <div class="unfocused_block" id="<%= blockheight - i%>">
    <input type="button" name="<%= blockheight - i%>" value="Enter Block" class="expand_block <%= blockheight - i%>">
    <input type="button" value="Collapse Block" class="hide collapse_block">
    <h2>Genesis Block</h2>
  </div>


  </body>
</html>
